.new-question-container {
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-gap: 0.5rem;

  @media (min-width: 32rem) {
    grid-template-columns: 1fr 20rem 1fr;
  }
}

h2,
label,
input,
button,
.empty-question {
  grid-column: 2 /3;
}

label {
  margin: 0;
  font-size: 1.5rem;
}

input {
  padding: 0.5rem;
  font-size: 1rem;
}

.empty-question {
  color: white;
}
