.vote-container {
  display: grid;
  grid-template-columns: 2rem 1fr 1fr 1fr 2rem;
}

.question-title {
  grid-column: 2 / 5;
  text-align: center;
  color: white;
}
.current-votes {
  grid-column-start: 3;
  display: inline;
  text-align: center;
  color: white;
  font-size: 5rem;
}
.question-title {
  font-size: 2rem;
}

.yes-button {
  display: inline;
  grid-column-start: 2;
}

.no-button {
  display: inline;
  grid-column-start: 4;
  justify-self: start;
}

button {
  width: 95%;
  border-radius: 50%;
  //justify-self: center;
}
